<form action="" style="margin: 20px">
  <div>To:<input id="to" type="text"></div>
  <div>From:<input id="from" type="text"></div>
  <div>Subject:<input id="subject" type="text"></div>
  <div>Text: <textarea style="min-height: 200px;" name="text" id="text" cols="30" rows="10"></textarea></div>
  <div id="attachmentsBox"></div>
  <div>Attachments:<input @input="addAttachment($event.target.files)" type="file" value="Add"></div>
  <div><input type="button" value="Send" @click="send()"></div>
</form>
