<div class="login">
  <form class="login_form card-panel teal lighten-2">
    <div class="title">Login:</div>
    <input class="field" placeholder="username" v-model="data.email" @input="mailValidate($event.target)" id="login" type="text">
    <input class="field" placeholder="password" v-model="data.password" @input="passwordValidate($event.target)" id="password" type="password">
    <div class="danger" v-if="errors.text">{{ errors.text }}</div>
    <div @click="onSubmit()" class="btn waves-effect waves-light submit" >Submit
      <i class="material-icons right">send</i>
    </div>
  </form>
</div>
