@media (min-width: 990px){
  .main{
    min-width: 100%;
    flex-grow: 1;
  }
  .mails{
    background-color: rgb(38,84,146);
    margin: 15px 15px 5px 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
  }
  .mail{
    background-color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    box-shadow: inset -1px 1px 10px 1px rgba(0,0,0,0.2);
    color: black;
  }
  .box{
    padding: 8px 6px;
    max-width: 100%;
  }
  .subject{
    flex-grow: 1;
    margin: 5px 10px;
    border-left: 1px solid;
    padding-left: 10px;
    overflow: hidden;
    white-space: nowrap;
  }
  .newMsg{
    padding: 5px 30px 5px 5px;
    margin-left: auto;
    color: rgb(44, 222, 44);
  }
  .from{
    width: 25%;
    padding: 5px;
    overflow: hidden;
  }
}
@media (max-width: 989px){
  .sidebar{
    display: none;
  }
}
