<div>
  <ul class="collection with-header mailbox">
    <li v-if="mail['data']" class="collection-header"><h5>{{mail.data.headers.subject ? mail.data.headers.subject : 'No subject'}}</h5></li>
    <li v-if="mail['sender']" class="collection-item">From: {{mail.sender}}</li>
    <li v-if="mail['receiver']" class="collection-item">To: {{mail.receiver}}</li>
    <li v-if="mail['data']" class="collection-item">Date: {{mail.data.headers.date}}</li>
    <li v-if="mail['data']['html']" v-html="'<br>' + mail.data.html + '<br>'" class="collection-item"></li>
    <li style="padding-bottom: 24px" v-if="!mail['data']['html'] && mail['data']['text']" v-html="'<br>' + mail.data.text" class="collection-item"></li>
    <li v-if="mail['data']['attachments']" class="collection-item">
      Attachments:
      <ul class="collection with-header mailbox">
        <li v-for="a in mail['data']['attachments']" class="collection-item">{{a}}</li>
      </ul>
      </li>
  </ul>
</div>
