nav{
  background-color: rgb(104,112,175);
}
@media (min-width: 990px){
  .brand-logo{
    margin-left: 10%;
  }
  .navItem{
    margin-right: 10%;
  }
  .navLink{
    padding: 0px 25px;
  }
  .link-active{
    background-color: red;
  }
}
