<div class="root">

  <div class="options" v-if="multiSelect[0]">
    <div style="display: flex;flex-grow: 1;justify-content: space-around;align-items: center">
      <div @click="mark" class="item">Mark</div>
      <div @click="read" class="item">Mark as read</div>
    </div>
    <div style="display: flex;flex-grow: 1;justify-content: space-around;align-items: center">
      <div @click="addToSpmam" class="item">Mark as spam</div>
      <div @click="delMsg" class="item">Delete</div>
    </div>
  </div>
  <div v-if="multiSelect[0]" class="pusher"></div>

  <div class="page">
    <div class="func" style="border-bottom: 1px solid rgb(191, 195, 201);padding: 5px">
      <div @click="markAll" style="margin-right: auto;cursor: pointer">
        <i class="material-icons">done_all</i>
      </div>
      <div class="func" style="flex-grow: 1;margin-left: 15px">
        <div style="display: flex;align-items: center;flex-grow: 1">
          <i class="material-icons" style="margin-right: 3px;">search</i>
          <input style="min-width: 200px;width: 45%" @input="getMsgs()" placeholder="Search" v-model="filter" id="icon_prefix" type="text">
        </div>
        <div style="display: flex;margin-left: auto;align-items: center;justify-content: center;margin-right: 15px">
          <div @click="reload" style="margin: 5px 10px 0 0;cursor: pointer">
            <i class="material-icons">refresh</i>
          </div>
          <div style="margin: 5px 8px">
            {{counter}} of {{maxPage}}
          </div>
          <div style="margin-top: 5px;">
            <i @click="clickLeft" class="material-icons" style="cursor: pointer;">chevron_left</i>
            <i @click="clickRight" class="material-icons" style="cursor: pointer;">chevron_right</i>
          </div>
        </div>
      </div>
    </div>

    <div class="massages" id="msgBox">
      <div v-for="a in msgData" class="msgBody" :class="a.read ? 'read' : ''">
        <input @click="addSelect($event.target.value)" :value="a.id ? a.id : ''" type="checkbox" class="checkboxMsg">
        <router-link  :to="a.id ? $route.params.id ? '/mailbox/' + $route.params.id + '/' + a.id : '/' + a.id : '/'" class="msg">
          <div class="from">{{a.from}}</div>
          <div class="subj">{{a.subject}}</div>
          <div style="display: flex;margin-left: auto">
            <i v-if="a.marked" class="material-icons">bookmark_border</i>
            <div>{{a.date}}</div>
          </div>
        </router-link>
      </div>
      <div v-if="!msgData[0]" style="margin: 10px;">No massages yet</div>
    </div>
  </div>

  <div style="display: flex;align-items: center;justify-content: center;border-top: 1px solid rgb(191, 195, 201);margin: 5px 26px;">
    <div style="margin: 5px 8px">
      {{counter}} of {{maxPage}}
    </div>
    <div style="margin-top: 5px;">
      <i @click="clickLeft" class="material-icons" style="cursor: pointer;">chevron_left</i>
      <i @click="clickRight" class="material-icons" style="cursor: pointer;">chevron_right</i>
    </div>
  </div>

</div>
