.box{
  margin: 5px;
  display: flex;
  flex-direction: column;
}
.mailbox{
  background-color: white;
  padding: 5px;
  border-radius: 2px;
  box-shadow: inset 0 0 4px black;
  width: 100%;
  color:black;
  cursor:pointer;
  white-space: nowrap;
  overflow: hidden;
  margin: 7px;
}
