.options{
  display: flex;
  padding: 6px;
  border-bottom: 1px solid rgb(191, 195, 201);
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  position: fixed;
  top: 70px;
  z-index: 999;
  background-color: white;
  width: 100%;
}
.item{
  box-shadow: 0px 0px 2px 1px rgb(191, 195, 201);
  padding: 2px 11px;
  color: rgb(244, 98, 58);
  cursor: pointer;
  margin: 4px;
}
.item:hover{
  background-color: rgb(191, 195, 201);
  box-shadow: none;
}
.from{
  white-space: nowrap;
  white-space: nowrap;
  max-width: 25%;
  overflow: hidden;
  min-width: 190px;
}
.subj{
  flex-grow: 1;
  white-space: nowrap;
  margin: 0 5px 0 15px;
  max-width: 60%;
  min-width: 190px;
  overflow: hidden;
}
.func{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.msg{
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  color: #2f2f2f;
  padding: 0px 10px;
  flex-grow: 1;
  font-size: 14px;
  align-items: center;
}
.msgBody{
  display: flex;
  align-items: center;
  box-shadow: rgb(191, 195, 201) 0px 0px 2px 1px;
  margin: 10px;
  padding: 5px;
}
.page{
  margin: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  border-left: 1px solid rgb(191, 195, 201);
  border-right: 1px solid rgb(191, 195, 201);
}
.pusher{
  width: 100%;
  height: 44px;
}
.read{
  background-color: rgb(206, 218, 224);
  box-shadow: rgb(206, 218, 224) 0px 0px 0px 1px;
}

@media (max-width: 433px) {
  .pusher{
    height: 80px;
  }
}
